
beautifulsoup4 




ipykernel 
ipython 
ipython-genutils 
ipython-sql==0.4.0
ipywidgets 
isort
itsdangerous 
jdcal 
jedi 
Jinja2==3.1.2
jinja2-time 
joblib 
json5 
jsonschema 
jupyter 
jupyter-client 
jupyter-console 
jupyter-server==1.21.0
jupyter_core==4.11.2
jupyterlab
jupyterlab-pygments 
jupyterlab-server
jupyterlab-widgets 
keyring
kiwisolver 
lazy-object-proxy 
libarchive-c 
llvmlite==0.37.0
locket==0.2.1
lxml 
MarkupSafe==2.1.1
matplotlib
matplotlib-inline 
mccabe==0.6.1
mistune 
mkl-fft==1.3.1
mkl-random 
mkl-service==2.4.0

notebook
numba 
numexpr 
numpy 
numpydoc 
olefile 
openpyxl
packaging 
pandas==1.3.4
pandocfilters 
parso
partd 
path
pathlib2 
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
pexpect 
pickleshare 
Pillow==8.4.0
pkginfo==1.7.1
pluggy 
ply==3.11
poyo 
prettytable==0.7.2
prometheus-client 
prompt-toolkit
psutil 
ptyprocess 
py 
pycodestyle 
pycosat==0.6.3
pycparser 
pycurl==7.44.1
pydocstyle 
pyerfa 
pyflakes 
Pygments 
PyJWT 
pylint 

PySocks 
pytest==6.2.4
python-dateutil 
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-slugify 
pytz==2021.3
PyWavelets 
PyYAML==6.0
pyzmq 
QDarkStyle 
qstylizer 
QtAwesome 
qtconsole 
QtPy 
regex 
requests 
rope 
Rtree
ruamel-yaml-conda 

sortedcollections
sortedcontainers 
soupsieve 
Sphinx==4.2.0

spyder 
spyder-kernels 
SQLAlchemy==1.3.24
sqlparse==0.4.2
statsmodels 
sympy 
tables 
TBB==0.2
tblib 

toolz 
tornado 
tqdm 
traitlets 
typed-ast 
typing-extensions
ujson
unicodecsv==0.14.1
Unidecode
urllib3==1.26.7
voila==0.3.6
watchdog 
wcwidth 
webencodings==0.5.1
websocket-client==1.4.1
websockets==10.3
Werkzeug 
whichcraft 
widgetsnbextension 
wrapt 
wurlitzer 
xlrd 
XlsxWriter 
xlwings==0.24.9
